In [3]:
import pandas as pd
import numpy as np

In [4]:
agra_data=pd.read_csv("agra1.csv")
indore_data=pd.read_csv("indore.csv")
lucknow_data=pd.read_csv("lucknow.csv")

In [5]:
agra_data.head()

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,Piazza Pizza By Little Italy,Pizza,3.9,₹200 for two,2.5 km,"Tajganj, Agra",Agra
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,₹400 for two,3.7 km,"Tajganj, Agra",Agra
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,"₹2,000 for two",4.8 km,"Tajganj, Agra",Agra
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,"₹1,800 for two",3.8 km,"Tajganj, Agra",Agra
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,"₹2,200 for two",1.9 km,"Rakabganj, Agra",Agra

In [6]:
agra_data.dtypes

Restaurent name    object
Cuisine types      object
Rating             object
Price              object
Distance           object
Location           object
City               object
dtype: object

In [7]:
lucknow_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,M E A Cafe And Restaurant,"North Indian, Chinese, BBQ, Fast Food, Beverag...",4.2,"₹1,200 for two",2.7 km,"Indira Nagar, Lucknow",Lucknow
1,Cafè 1991,"Coffee, Chinese, Fast Food, Desserts",4.5,₹700 for two,4.5 km,"Gomti Nagar, Lucknow",Lucknow
2,Bigg Daddy,"North Indian, Mughlai, Continental, Chinese, I...",4.3,"₹2,000 for two",6 km,"Cyber Heights, Gomti Nagar, Lucknow",Lucknow
3,Remix Veg Food Hall,"North Indian, Fast Food, Chinese, Desserts, So...",3.6,₹300 for two,5.8 km,"Gomti Nagar, Lucknow",Lucknow
4,Boombox Bar Xchange,"North Indian, Chinese, Continental, Asian, Bir...",4.3,"₹2,000 for two",6.1 km,"Summit Building, Gomti Nagar, Lucknow",Lucknow
5,The Big Grill,"Chinese, Salad, North Indian, Oriental, Desser...",4.6,"₹2,000 for two",8.7 km,"Phoenix Plassio Mall, Lucknow",Lucknow
6,Tanatan,"North Indian, Lucknowi, Desserts, Beverages",4.6,"₹2,500 for two",2.3 km,"Hazratganj, Lucknow",Lucknow
7,Rominus Pizza And Burger,"Pizza, Burger, Fast Food",4.1,₹400 for two,1.7 km,"Hazratganj, Lucknow",Lucknow
8,Molecule Air Bar,"North Indian, Continental, Asian, Finger Food,...",4.4,"₹1,800 for two",2.6 km,"Riverside Mall, Gomti Nagar, Lucknow",Lucknow
9,Chinese Wok,Chinese,3.4,₹400 for two,7.2 km,"Gomti Nagar, Lucknow",Lucknow
10,The Oven,"Pizza, Fast Food",4.1,₹200 for two,3.9 km,"Sadar Bazaar, Lucknow",Lucknow
11,Vint Club,"Chinese, Continental, Italian, Sushi, Beverage...",4.3,"₹1,000 for two",9.3 km,"Gomti Nagar, Lucknow",Lucknow
12,Que,"North Indian, Continental, Chinese, Finger Foo...",4.5,"₹1,000 for two",4.6 km,"Gomti Nagar, Lucknow",Lucknow
13,Tickled Pink,"North Indian, Continental, Thai, Pizza, Turkis...",4.5,"₹2,000 for two",5.7 km,"Gomti Nagar, Lucknow",Lucknow
14,The Burger's Castle,"Burger, Wraps, Sandwich, Fast Food, Street Foo...",3.1,₹300 for two,1.3 km,"Nirala Nagar, Lucknow",Lucknow
15,WOW! China,"Chinese, Oriental, Asian, Sichuan, Seafood, Momos",3.2,₹700 for two,5 km,"Jankipuram, Lucknow",Lucknow
16,Chili's Grill & Bar,"Tex-Mex, American, Mexican, BBQ, Continental, ...",4.7,"₹1,000 for two",9.7 km,"Lulu Mall, Lucknow",Lucknow
17,Togo's Momo,"Momos, Chinese",4.2,₹300 for two,8.4 km,"Aashiana, Lucknow",Lucknow
18,Sky Glass Brewing Co.,"Bar Food, Italian, Chinese, Desserts, Beverages",4.9,"₹1,800 for two",5.2 km,"Phoenix Plassio Mall, Lucknow",Lucknow
19,Panorama Terrace,"North Indian, Chinese, Italian, Street Food, B...",3.7,"₹1,000 for two",4.2 km,"Khurram Nagar, Lucknow",Lucknow

In [8]:
(agra_data["Rating"].value_counts()=="New")

Rating
3.9    False
3.8    False
-      False
4      False
3.7    False
4.1    False
3.6    False
3.5    False
4.2    False
4.3    False
3.3    False
New    False
3.4    False
3      False
4.4    False
3.2    False
4.5    False
3.1    False
4.6    False
4.9    False
2.7    False
2.9    False
4.7    False
2.6    False
2.5    False
4.8    False
Name: count, dtype: bool

In [9]:
indore_data.head(20)

indore_data["Rating"].value_counts()

Rating
-      59
3.9    57
4.2    42
3.8    42
4      40
4.1    35
4.3    26
New    26
3.7    20
4.4    17
3.6    16
4.5    16
3.4    14
3.5    14
3.3    14
3.1    10
3.2     9
3       9
4.6     6
2.8     6
2.9     5
4.8     4
4.7     4
4.9     4
2.7     3
2.6     2
2.5     1
Name: count, dtype: int64

In [10]:
lucknow_data.head(20)

lucknow_data["Rating"].value_counts()

Rating
-      148
3.9     51
New     39
4.2     29
3.8     25
4       25
4.3     21
4.1     21
3.7     18
4.5     16
4.4     16
3.5     13
3.6     12
4.6     12
3.3     10
3.2      9
3        9
3.4      6
4.9      5
3.1      5
4.7      2
2.9      2
2.8      2
2.5      2
2.6      1
4.8      1
2.4      1
Name: count, dtype: int64

In [11]:


agra_data['Rating'] = agra_data['Rating'].replace('New', 0)
agra_data['Rating'] = agra_data['Rating'].replace('-', 0)


agra_data['Rating'] = agra_data['Rating'].astype(float)

In [12]:


lucknow_data['Rating'] = lucknow_data['Rating'].replace('New', 0)
lucknow_data['Rating'] = lucknow_data['Rating'].replace('-', 0)


lucknow_data['Rating'] = lucknow_data['Rating'].astype(float)

lucknow_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,M E A Cafe And Restaurant,"North Indian, Chinese, BBQ, Fast Food, Beverag...",4.2,"₹1,200 for two",2.7 km,"Indira Nagar, Lucknow",Lucknow
1,Cafè 1991,"Coffee, Chinese, Fast Food, Desserts",4.5,₹700 for two,4.5 km,"Gomti Nagar, Lucknow",Lucknow
2,Bigg Daddy,"North Indian, Mughlai, Continental, Chinese, I...",4.3,"₹2,000 for two",6 km,"Cyber Heights, Gomti Nagar, Lucknow",Lucknow
3,Remix Veg Food Hall,"North Indian, Fast Food, Chinese, Desserts, So...",3.6,₹300 for two,5.8 km,"Gomti Nagar, Lucknow",Lucknow
4,Boombox Bar Xchange,"North Indian, Chinese, Continental, Asian, Bir...",4.3,"₹2,000 for two",6.1 km,"Summit Building, Gomti Nagar, Lucknow",Lucknow
5,The Big Grill,"Chinese, Salad, North Indian, Oriental, Desser...",4.6,"₹2,000 for two",8.7 km,"Phoenix Plassio Mall, Lucknow",Lucknow
6,Tanatan,"North Indian, Lucknowi, Desserts, Beverages",4.6,"₹2,500 for two",2.3 km,"Hazratganj, Lucknow",Lucknow
7,Rominus Pizza And Burger,"Pizza, Burger, Fast Food",4.1,₹400 for two,1.7 km,"Hazratganj, Lucknow",Lucknow
8,Molecule Air Bar,"North Indian, Continental, Asian, Finger Food,...",4.4,"₹1,800 for two",2.6 km,"Riverside Mall, Gomti Nagar, Lucknow",Lucknow
9,Chinese Wok,Chinese,3.4,₹400 for two,7.2 km,"Gomti Nagar, Lucknow",Lucknow
10,The Oven,"Pizza, Fast Food",4.1,₹200 for two,3.9 km,"Sadar Bazaar, Lucknow",Lucknow
11,Vint Club,"Chinese, Continental, Italian, Sushi, Beverage...",4.3,"₹1,000 for two",9.3 km,"Gomti Nagar, Lucknow",Lucknow
12,Que,"North Indian, Continental, Chinese, Finger Foo...",4.5,"₹1,000 for two",4.6 km,"Gomti Nagar, Lucknow",Lucknow
13,Tickled Pink,"North Indian, Continental, Thai, Pizza, Turkis...",4.5,"₹2,000 for two",5.7 km,"Gomti Nagar, Lucknow",Lucknow
14,The Burger's Castle,"Burger, Wraps, Sandwich, Fast Food, Street Foo...",3.1,₹300 for two,1.3 km,"Nirala Nagar, Lucknow",Lucknow
15,WOW! China,"Chinese, Oriental, Asian, Sichuan, Seafood, Momos",3.2,₹700 for two,5 km,"Jankipuram, Lucknow",Lucknow
16,Chili's Grill & Bar,"Tex-Mex, American, Mexican, BBQ, Continental, ...",4.7,"₹1,000 for two",9.7 km,"Lulu Mall, Lucknow",Lucknow
17,Togo's Momo,"Momos, Chinese",4.2,₹300 for two,8.4 km,"Aashiana, Lucknow",Lucknow
18,Sky Glass Brewing Co.,"Bar Food, Italian, Chinese, Desserts, Beverages",4.9,"₹1,800 for two",5.2 km,"Phoenix Plassio Mall, Lucknow",Lucknow
19,Panorama Terrace,"North Indian, Chinese, Italian, Street Food, B...",3.7,"₹1,000 for two",4.2 km,"Khurram Nagar, Lucknow",Lucknow

In [13]:

indore_data['Rating'] = indore_data['Rating'].replace('New', 0)
indore_data['Rating'] = indore_data['Rating'].replace('-', 0)

indore_data['Rating'] = indore_data['Rating'].astype(float)

indore_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,UK Restaurants And Kitchens,"North Indian, Chinese, Biryani, Kebab",3.6,₹500 for two,4.5 km,"Mangal City Mall, Vijay Nagar, Indore",Indore
1,Dopamine,"Asian, North Indian, Continental, Italian, Bar...",4.5,"₹1,500 for two",5.3 km,"Vijay Nagar, Indore",Indore
2,Epicentre - The Park,"Continental, Salad, Chinese, Asian, Italian, N...",4.2,"₹3,500 for two",8 km,"The Park, Indore",Indore
3,House Of Malts,"North Indian, Chinese, Continental, Italian, O...",3.8,"₹1,000 for two",5.6 km,"Vijay Nagar, Indore",Indore
4,The Piano Project,"North Indian, Mughlai, Kebab, Biryani, Beverages",4.5,"₹2,000 for two",4.9 km,"Vijay Nagar, Indore",Indore
5,Aqua - The Park,"North Indian, Asian, Continental, Oriental",4.5,"₹2,200 for two",8 km,"The Park, Indore",Indore
6,Kabelo Veg Barbecues,"North Indian, Salad, Desserts, Beverages",4.3,"₹1,200 for two",4.5 km,"Vijay Nagar, Indore",Indore
7,Flame By Fire & Smoke,"North Indian, Chinese, Seafood, Biryani, Orien...",4.4,"₹1,000 for two",4.2 km,"Vijay Nagar, Indore",Indore
8,Cream Centre,"North Indian, Chinese, Italian, Mexican, Fast ...",4.2,"₹1,400 for two",4.6 km,"Vijay Nagar, Indore",Indore
9,Cravings - Sayaji Hotel,"North Indian, Chinese, Italian, Beverages",4.5,"₹1,800 for two",4.4 km,"Sayaji Hotel, Vijay Nagar, Indore",Indore
10,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.3,"₹1,500 for two",2.3 km,"South Tukoganj, Indore",Indore
11,The Creative Kitchen - Radisson Blu Hotel,"North Indian, Continental, Chinese, Asian, Des...",4.0,"₹2,500 for two",5.5 km,"Radisson Blu Hotel, Vijay Nagar, Indore",Indore
12,Fire & Smoke,"North Indian, Mughlai, Continental",4.9,"₹2,200 for two",8.9 km,"By Pass Road (North), Indore",Indore
13,Revolution Indore,"North Indian, Continental, Fast Food, Pizza, B...",4.1,"₹2,000 for two",4.9 km,"Vijay Nagar, Indore",Indore
14,The Cube - Hotel Effotel,"North Indian, Mughlai, Asian, Biryani, Desserts",4.9,"₹1,200 for two",5.5 km,"Hotel Effotel, Vijay Nagar, Indore",Indore
15,Chopstick City - Sayaji Hotel,"Chinese, Asian, Beverages, Desserts",4.7,"₹1,800 for two",4.4 km,"Sayaji Hotel, Vijay Nagar, Indore",Indore
16,Municipal,"North Indian, Continental",4.2,"₹1,500 for two",5.1 km,"Mangal City Mall, Vijay Nagar, Indore",Indore
17,Mama Loca,"Pizza, Pasta, Italian, Continental, Shawarma, ...",4.2,"₹1,000 for two",2.8 km,"New Palasia, Indore",Indore
18,Indore Kitchen - Indore Marriott Hotel,"North Indian, Asian",4.2,"₹2,000 for two",4.2 km,"Indore Marriott Hotel, Vijay Nagar, Indore",Indore
19,The Ashoka Hotel And Multi-Cuisine Restaurant,"North Indian, Chinese, Continental, Fast Food,...",4.2,₹700 for two,4.5 km,"Vijay Nagar, Indore",Indore

In [14]:
lucknow_data.dtypes
lucknow_data["Rating"].value_counts()

Rating
0.0    187
3.9     51
4.2     29
3.8     25
4.0     25
4.3     21
4.1     21
3.7     18
4.4     16
4.5     16
3.5     13
4.6     12
3.6     12
3.3     10
3.2      9
3.0      9
3.4      6
4.9      5
3.1      5
4.7      2
2.9      2
2.8      2
2.5      2
2.6      1
4.8      1
2.4      1
Name: count, dtype: int64

In [15]:
indore_data.describe()

           Rating
count  501.000000
mean     3.221357
std      1.515296
min      0.000000
25%      3.200000
50%      3.900000
75%      4.100000
max      4.900000

In [16]:
median_value = indore_data["Rating"].median()
indore_data["Rating"].replace(0,median_value, inplace=True)

In [17]:
median_value = lucknow_data["Rating"].median()
lucknow_data["Rating"].replace(0,median_value, inplace=True)

In [18]:
median_value = indore_data["Rating"].median()
indore_data["Rating"].replace(0,median_value, inplace=True)

In [19]:
indore_data.describe()

           Rating
count  501.000000
mean     3.883034
std      0.414260
min      2.500000
25%      3.800000
50%      3.900000
75%      4.100000
max      4.900000

In [20]:
indore_data["Rating"].value_counts().sum()

501

In [21]:
agra_data['Rating'].isnull().sum()

0

In [22]:
agra_data["Rating"].value_counts().sum()

501

In [23]:
agra_data['Rating'].isnull().sum()

0

In [24]:
count_for_two = indore_data['Price'].str.contains('for two').sum()
count_for_two
indore_data['Price'] = indore_data['Price'].str.replace(r'[^\d]+', '', regex=True).astype(float)

In [25]:
count_for_two = lucknow_data['Price'].str.contains('for two').sum()
count_for_two
lucknow_data['Price'] = lucknow_data['Price'].str.replace(r'[^\d]+', '', regex=True).astype(float)

In [26]:
lucknow_data['Price']=(lucknow_data['Price']/2)

In [27]:
indore_data['Price']=(indore_data['Price']/2)
indore_data.head(52)
indore_data.describe()

           Rating        Price
count  501.000000   501.000000
mean     3.883034   423.303393
std      0.414260   332.610306
min      2.500000    75.000000
25%      3.800000   175.000000
50%      3.900000   300.000000
75%      4.100000   500.000000
max      4.900000  1900.000000

In [28]:

indore_data['Distance'] = indore_data['Distance'].str.extract(r'(\d+\.?\d*)').astype(float)

In [29]:


lucknow_data['Distance'] = lucknow_data['Distance'].str.extract(r'(\d+\.?\d*)').astype(float)

condition = lucknow_data["Distance"] > 30


lucknow_data.loc[condition, "Distance"] = lucknow_data["Distance"] / 1000

In [30]:

condition = indore_data["Distance"] > 30


indore_data.loc[condition, "Distance"] = indore_data[condition]["Distance"] / 1000

In [31]:
indore_data.describe()

           Rating        Price    Distance
count  501.000000   501.000000  501.000000
mean     3.883034   423.303393    5.278190
std      0.414260   332.610306    2.788994
min      2.500000    75.000000    0.973000
25%      3.800000   175.000000    3.500000
50%      3.900000   300.000000    4.800000
75%      4.100000   500.000000    6.200000
max      4.900000  1900.000000   25.800000

In [32]:
indore_data.dtypes

Restaurent name     object
Cuisine types       object
Rating             float64
Price              float64
Distance           float64
Location            object
City                object
dtype: object

In [33]:
count_for_two = agra_data['Price'].str.contains('for two').sum()
count_for_two

501

In [34]:
agra_data['Price'] = agra_data['Price'].str.replace(r'[^\d]+', '', regex=True).astype(float)

In [35]:
agra_data['Price']=(agra_data['Price']/2)

In [36]:
agra_data.head(50)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,Piazza Pizza By Little Italy,Pizza,3.9,100.0,2.5 km,"Tajganj, Agra",Agra
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,200.0,3.7 km,"Tajganj, Agra",Agra
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,1000.0,4.8 km,"Tajganj, Agra",Agra
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,900.0,3.8 km,"Tajganj, Agra",Agra
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,1100.0,1.9 km,"Rakabganj, Agra",Agra
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,800.0,4.8 km,"Tajganj, Agra",Agra
6,Hichkee,"Continental, North Indian, Chinese",4.2,850.0,1.2 km,"Civil Lines, Agra",Agra
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,400.0,6.8 km,"Sikandra, Agra",Agra
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,775.0,2.5 km,"Civil Lines, Agra",Agra
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,550.0,2.7 km,"Tajganj, Agra",Agra
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.1,1350.0,4.1 km,"Radisson Hotel Agra, Tajganj, Agra",Agra
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.4,500.0,3 km,"Civil Lines, Agra",Agra
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.7,175.0,2.8 km,"Tajganj, Agra",Agra
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.4,1500.0,2.6 km,"Civil Lines, Agra",Agra
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.9,800.0,1.4 km,"Rakabganj, Agra",Agra
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.5,800.0,3.2 km,"Tajganj, Agra",Agra
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.4,1200.0,2.6 km,"Civil Lines, Agra",Agra
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",0.0,600.0,3.1 km,"Khandari, Agra",Agra
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.5,3000.0,3.2 km,"ITC Mughal, Tajganj, Agra",Agra
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.9,550.0,3.6 km,"Tajganj, Agra",Agra
20,Two Saints Bar & Kitchen,"North Indian, Bar Food, Oriental, Continental,...",4.3,900.0,2.4 km,"Tajganj, Agra",Agra
21,Urban Deck,"Mexican, Italian, North Indian",4.2,1100.0,2.7 km,"Civil Lines, Agra",Agra
22,The Wok Bar,"Asian, Japanese, Sushi, Thai, Korean, Desserts",4.4,1200.0,2.7 km,"Civil Lines, Agra",Agra
23,Ek Number-Twisted Indian Cafe,"Chinese, North Indian, Continental, Mughlai, I...",3.8,600.0,3.4 km,"Civil Lines, Agra",Agra
24,Made In Punjab,"North Indian, Mughlai, Biryani, Rolls, Chinese...",4.6,650.0,2.7 km,"Civil Lines, Agra",Agra
25,NU-CLER,"North Indian, Oriental, Asian, Mediterranean, ...",4.3,1000.0,1.8 km,"Civil Lines, Agra",Agra
26,MoMo Cafe - Courtyard By Marriott,"North Indian, Fast Food, Continental, Beverage...",4.5,1500.0,4.8 km,"Courtyard by Marriott Agra, Tajganj, Agra",Agra
27,Folks Pub,"North Indian, Chinese",4.1,700.0,3.4 km,"Civil Lines, Agra",Agra
28,Pind Balluchi,"Mughlai, North Indian",3.9,500.0,6.2 km,"Sikandra, Agra",Agra
29,Thaliwala Pure Veg Restaurant,"North Indian, Chinese, Beverages",3.5,400.0,3.4 km,"Tajganj, Agra",Agra
30,Beep,"North Indian, Chinese, Continental, Pizza, Pasta",4.4,600.0,2.4 km,"Rakabganj, Agra",Agra
31,Djlecious,"Bakery, Desserts, Beverages",4.0,200.0,3.3 km,"Civil Lines, Agra",Agra
32,Mama Chicken Mama Franky House,"North Indian, Mughlai, Rolls, Burger, Momos",4.1,500.0,2.2 km,"Agra Cantt, Agra",Agra
33,KFC,"Burger, Fast Food, Biryani, Desserts, Beverages",3.6,250.0,3 km,"Khandari, Agra",Agra
34,La Pino'z Pizza,"Pizza, Pasta, Italian, Fast Food",3.3,250.0,3.1 km,"Tajganj, Agra",Agra
35,Momocult,"Momos, Chinese, Fast Food",3.8,100.0,2.7 km,"Civil Lines, Agra",Agra
36,Pizza Hut,"Pizza, Fast Food, Desserts, Beverages",3.9,500.0,2.4 km,"Agra Cantt, Agra",Agra
37,Bistro 57,"Cafe, Pasta, Pizza, Burger, Coffee, Fast Food",3.9,300.0,3.3 km,"Civil Lines, Agra",Agra
38,Tease Me - Rooftop Cafe,"Italian, North Indian, Fast Food",4.3,750.0,2.2 km,"Tajganj, Agra",Agra
39,McDonald's,"Burger, Fast Food, Beverages, Cafe",4.0,250.0,2.7 km,"Civil Lines, Agra",Agra
40,Fat Tiger,"North Indian, Rolls, Momos, Desserts, Shake, C...",3.6,550.0,3.1 km,"Civil Lines, Agra",Agra
41,La' Chef Multicuisine Restaurant,"North Indian, Chinese, Kebab, South Indian, Co...",0.0,600.0,7.2 km,"Sikandra, Agra",Agra
42,Lord Of The Drinks,"European, Chinese, North Indian, Italian",4.1,900.0,4.8 km,"Tajganj, Agra",Agra
43,Ghoomar Traditional Thali Restaurant,"North Indian, Rajasthani",3.3,500.0,4 km,"Khandari, Agra",Agra
44,Hotel Moti Palace - Pankhuri Restaurant,"North Indian, Chinese, Continental, South Indi...",4.2,500.0,1.4 km,"Rakabganj, Agra",Agra
45,Dasaprakash,"South Indian, North Indian, Continental, Chine...",3.8,400.0,4.8 km,"Tajganj, Agra",Agra
46,The Ivory Kitchen,"North Indian, Chinese, Pasta, Pizza, Sandwich,...",3.9,550.0,2.5 km,"Agra Cantt, Agra",Agra
47,Spiced Brew,"Cafe, Continental, Burger, Sandwich, Fast Food...",4.9,400.0,3.6 km,"Khandari, Agra",Agra
48,Fat Boys Cafe,"Sandwich, Pizza, Fast Food, Chinese, Momos, Pa...",3.7,200.0,2.3 km,"Agra Cantt, Agra",Agra
49,Haldiram's,"North Indian, South Indian, Chinese, Fast Food...",4.2,200.0,4 km,"Khandari, Agra",Agra

In [37]:
agra_data["Distance"].value_counts()

Distance
2.7 km    35
2.5 km    27
3.8 km    25
3.3 km    24
4 km      21
          ..
7.3 km     1
7.9 km     1
7.1 km     1
546 m      1
1.1 km     1
Name: count, Length: 80, dtype: int64

In [38]:
agra_data.describe()

           Rating        Price
count  501.000000   501.000000
mean     3.374251   373.752495
std      1.267579   407.721953
min      0.000000    50.000000
25%      3.400000   150.000000
50%      3.800000   225.000000
75%      4.000000   400.000000
max      4.900000  3000.000000

In [39]:
agra_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,Piazza Pizza By Little Italy,Pizza,3.9,100.0,2.5 km,"Tajganj, Agra",Agra
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,200.0,3.7 km,"Tajganj, Agra",Agra
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,1000.0,4.8 km,"Tajganj, Agra",Agra
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,900.0,3.8 km,"Tajganj, Agra",Agra
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,1100.0,1.9 km,"Rakabganj, Agra",Agra
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,800.0,4.8 km,"Tajganj, Agra",Agra
6,Hichkee,"Continental, North Indian, Chinese",4.2,850.0,1.2 km,"Civil Lines, Agra",Agra
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,400.0,6.8 km,"Sikandra, Agra",Agra
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,775.0,2.5 km,"Civil Lines, Agra",Agra
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,550.0,2.7 km,"Tajganj, Agra",Agra
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.1,1350.0,4.1 km,"Radisson Hotel Agra, Tajganj, Agra",Agra
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.4,500.0,3 km,"Civil Lines, Agra",Agra
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.7,175.0,2.8 km,"Tajganj, Agra",Agra
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.4,1500.0,2.6 km,"Civil Lines, Agra",Agra
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.9,800.0,1.4 km,"Rakabganj, Agra",Agra
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.5,800.0,3.2 km,"Tajganj, Agra",Agra
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.4,1200.0,2.6 km,"Civil Lines, Agra",Agra
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",0.0,600.0,3.1 km,"Khandari, Agra",Agra
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.5,3000.0,3.2 km,"ITC Mughal, Tajganj, Agra",Agra
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.9,550.0,3.6 km,"Tajganj, Agra",Agra

In [40]:
agra_data.dtypes

Restaurent name     object
Cuisine types       object
Rating             float64
Price              float64
Distance            object
Location            object
City                object
dtype: object

In [41]:
agra_data.isnull().sum()

Restaurent name    0
Cuisine types      0
Rating             0
Price              0
Distance           0
Location           0
City               0
dtype: int64

In [42]:
agra_data['Distance'].value_counts()

Distance
2.7 km    35
2.5 km    27
3.8 km    25
3.3 km    24
4 km      21
          ..
7.3 km     1
7.9 km     1
7.1 km     1
546 m      1
1.1 km     1
Name: count, Length: 80, dtype: int64

In [43]:

agra_data['Distance'] = agra_data['Distance'].str.extract(r'(\d+\.?\d*)').astype(float)

In [44]:
agra_data["Distance"].value_counts()

Distance
2.7      35
2.5      27
3.8      25
3.3      24
4.0      21
         ..
7.3       1
7.9       1
7.1       1
546.0     1
1.1       1
Name: count, Length: 80, dtype: int64

In [45]:
agra_data.head(10)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,Piazza Pizza By Little Italy,Pizza,3.9,100.0,2.5,"Tajganj, Agra",Agra
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,200.0,3.7,"Tajganj, Agra",Agra
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,1000.0,4.8,"Tajganj, Agra",Agra
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,900.0,3.8,"Tajganj, Agra",Agra
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,1100.0,1.9,"Rakabganj, Agra",Agra
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,800.0,4.8,"Tajganj, Agra",Agra
6,Hichkee,"Continental, North Indian, Chinese",4.2,850.0,1.2,"Civil Lines, Agra",Agra
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,400.0,6.8,"Sikandra, Agra",Agra
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,775.0,2.5,"Civil Lines, Agra",Agra
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,550.0,2.7,"Tajganj, Agra",Agra

In [46]:
agra_data.describe()

           Rating        Price    Distance
count  501.000000   501.000000  501.000000
mean     3.374251   373.752495   12.284032
std      1.267579   407.721953   74.881588
min      0.000000    50.000000    1.100000
25%      3.400000   150.000000    2.700000
50%      3.800000   225.000000    3.800000
75%      4.000000   400.000000    4.700000
max      4.900000  3000.000000  954.000000

In [47]:
agra_data.head(10)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,Piazza Pizza By Little Italy,Pizza,3.9,100.0,2.5,"Tajganj, Agra",Agra
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,200.0,3.7,"Tajganj, Agra",Agra
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,1000.0,4.8,"Tajganj, Agra",Agra
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,900.0,3.8,"Tajganj, Agra",Agra
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,1100.0,1.9,"Rakabganj, Agra",Agra
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,800.0,4.8,"Tajganj, Agra",Agra
6,Hichkee,"Continental, North Indian, Chinese",4.2,850.0,1.2,"Civil Lines, Agra",Agra
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,400.0,6.8,"Sikandra, Agra",Agra
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,775.0,2.5,"Civil Lines, Agra",Agra
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,550.0,2.7,"Tajganj, Agra",Agra

In [48]:

condition = agra_data["Distance"] > 30


agra_data.loc[condition, "Distance"] = agra_data[condition]["Distance"] / 1000

In [49]:
agra_data.head(10)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,Piazza Pizza By Little Italy,Pizza,3.9,100.0,2.5,"Tajganj, Agra",Agra
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.7,200.0,3.7,"Tajganj, Agra",Agra
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.6,1000.0,4.8,"Tajganj, Agra",Agra
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.9,900.0,3.8,"Tajganj, Agra",Agra
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.5,1100.0,1.9,"Rakabganj, Agra",Agra
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.4,800.0,4.8,"Tajganj, Agra",Agra
6,Hichkee,"Continental, North Indian, Chinese",4.2,850.0,1.2,"Civil Lines, Agra",Agra
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.0,400.0,6.8,"Sikandra, Agra",Agra
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.4,775.0,2.5,"Civil Lines, Agra",Agra
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.3,550.0,2.7,"Tajganj, Agra",Agra

In [50]:
agra_data.describe()

           Rating        Price    Distance
count  501.000000   501.000000  501.000000
mean     3.374251   373.752495    3.911176
std      1.267579   407.721953    1.690961
min      0.000000    50.000000    0.355000
25%      3.400000   150.000000    2.700000
50%      3.800000   225.000000    3.700000
75%      4.000000   400.000000    4.600000
max      4.900000  3000.000000   12.300000

In [51]:
(agra_data["Rating"]==0).value_counts()

Rating
False    444
True      57
Name: count, dtype: int64

In [52]:

agra_data["Rating"].replace(0, 3.374251, inplace=True)

In [53]:
agra_data.describe()

           Rating        Price    Distance
count  501.000000   501.000000  501.000000
mean     3.758148   373.752495    3.911176
std      0.401409   407.721953    1.690961
min      2.500000    50.000000    0.355000
25%      3.400000   150.000000    2.700000
50%      3.800000   225.000000    3.700000
75%      4.000000   400.000000    4.600000
max      4.900000  3000.000000   12.300000

In [54]:
agra_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,Piazza Pizza By Little Italy,Pizza,3.900000,100.0,2.5,"Tajganj, Agra",Agra
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.700000,200.0,3.7,"Tajganj, Agra",Agra
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.600000,1000.0,4.8,"Tajganj, Agra",Agra
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.900000,900.0,3.8,"Tajganj, Agra",Agra
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.500000,1100.0,1.9,"Rakabganj, Agra",Agra
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.400000,800.0,4.8,"Tajganj, Agra",Agra
6,Hichkee,"Continental, North Indian, Chinese",4.200000,850.0,1.2,"Civil Lines, Agra",Agra
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.000000,400.0,6.8,"Sikandra, Agra",Agra
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.400000,775.0,2.5,"Civil Lines, Agra",Agra
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.300000,550.0,2.7,"Tajganj, Agra",Agra
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.100000,1350.0,4.1,"Radisson Hotel Agra, Tajganj, Agra",Agra
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.400000,500.0,3.0,"Civil Lines, Agra",Agra
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.700000,175.0,2.8,"Tajganj, Agra",Agra
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.400000,1500.0,2.6,"Civil Lines, Agra",Agra
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.900000,800.0,1.4,"Rakabganj, Agra",Agra
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.500000,800.0,3.2,"Tajganj, Agra",Agra
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.400000,1200.0,2.6,"Civil Lines, Agra",Agra
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",3.374251,600.0,3.1,"Khandari, Agra",Agra
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.500000,3000.0,3.2,"ITC Mughal, Tajganj, Agra",Agra
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.900000,550.0,3.6,"Tajganj, Agra",Agra

In [55]:
indore_data.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City
0,UK Restaurants And Kitchens,"North Indian, Chinese, Biryani, Kebab",3.6,250.0,4.5,"Mangal City Mall, Vijay Nagar, Indore",Indore
1,Dopamine,"Asian, North Indian, Continental, Italian, Bar...",4.5,750.0,5.3,"Vijay Nagar, Indore",Indore
2,Epicentre - The Park,"Continental, Salad, Chinese, Asian, Italian, N...",4.2,1750.0,8.0,"The Park, Indore",Indore
3,House Of Malts,"North Indian, Chinese, Continental, Italian, O...",3.8,500.0,5.6,"Vijay Nagar, Indore",Indore
4,The Piano Project,"North Indian, Mughlai, Kebab, Biryani, Beverages",4.5,1000.0,4.9,"Vijay Nagar, Indore",Indore
5,Aqua - The Park,"North Indian, Asian, Continental, Oriental",4.5,1100.0,8.0,"The Park, Indore",Indore
6,Kabelo Veg Barbecues,"North Indian, Salad, Desserts, Beverages",4.3,600.0,4.5,"Vijay Nagar, Indore",Indore
7,Flame By Fire & Smoke,"North Indian, Chinese, Seafood, Biryani, Orien...",4.4,500.0,4.2,"Vijay Nagar, Indore",Indore
8,Cream Centre,"North Indian, Chinese, Italian, Mexican, Fast ...",4.2,700.0,4.6,"Vijay Nagar, Indore",Indore
9,Cravings - Sayaji Hotel,"North Indian, Chinese, Italian, Beverages",4.5,900.0,4.4,"Sayaji Hotel, Vijay Nagar, Indore",Indore
10,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.3,750.0,2.3,"South Tukoganj, Indore",Indore
11,The Creative Kitchen - Radisson Blu Hotel,"North Indian, Continental, Chinese, Asian, Des...",4.0,1250.0,5.5,"Radisson Blu Hotel, Vijay Nagar, Indore",Indore
12,Fire & Smoke,"North Indian, Mughlai, Continental",4.9,1100.0,8.9,"By Pass Road (North), Indore",Indore
13,Revolution Indore,"North Indian, Continental, Fast Food, Pizza, B...",4.1,1000.0,4.9,"Vijay Nagar, Indore",Indore
14,The Cube - Hotel Effotel,"North Indian, Mughlai, Asian, Biryani, Desserts",4.9,600.0,5.5,"Hotel Effotel, Vijay Nagar, Indore",Indore
15,Chopstick City - Sayaji Hotel,"Chinese, Asian, Beverages, Desserts",4.7,900.0,4.4,"Sayaji Hotel, Vijay Nagar, Indore",Indore
16,Municipal,"North Indian, Continental",4.2,750.0,5.1,"Mangal City Mall, Vijay Nagar, Indore",Indore
17,Mama Loca,"Pizza, Pasta, Italian, Continental, Shawarma, ...",4.2,500.0,2.8,"New Palasia, Indore",Indore
18,Indore Kitchen - Indore Marriott Hotel,"North Indian, Asian",4.2,1000.0,4.2,"Indore Marriott Hotel, Vijay Nagar, Indore",Indore
19,The Ashoka Hotel And Multi-Cuisine Restaurant,"North Indian, Chinese, Continental, Fast Food,...",4.2,350.0,4.5,"Vijay Nagar, Indore",Indore

In [56]:
indore_data.dtypes

Restaurent name     object
Cuisine types       object
Rating             float64
Price              float64
Distance           float64
Location            object
City                object
dtype: object

In [57]:
agra_data.dtypes

Restaurent name     object
Cuisine types       object
Rating             float64
Price              float64
Distance           float64
Location            object
City                object
dtype: object

In [58]:
indore_data.dtypes

Restaurent name     object
Cuisine types       object
Rating             float64
Price              float64
Distance           float64
Location            object
City                object
dtype: object

In [59]:
lucknow_data.dtypes

Restaurent name     object
Cuisine types       object
Rating             float64
Price              float64
Distance           float64
Location            object
City                object
dtype: object

In [60]:
agra_data.describe()

           Rating        Price    Distance
count  501.000000   501.000000  501.000000
mean     3.758148   373.752495    3.911176
std      0.401409   407.721953    1.690961
min      2.500000    50.000000    0.355000
25%      3.400000   150.000000    2.700000
50%      3.800000   225.000000    3.700000
75%      4.000000   400.000000    4.600000
max      4.900000  3000.000000   12.300000

In [61]:
indore_data.describe()

           Rating        Price    Distance
count  501.000000   501.000000  501.000000
mean     3.883034   423.303393    5.278190
std      0.414260   332.610306    2.788994
min      2.500000    75.000000    0.973000
25%      3.800000   175.000000    3.500000
50%      3.900000   300.000000    4.800000
75%      4.100000   500.000000    6.200000
max      4.900000  1900.000000   25.800000

In [62]:
lucknow_data.describe()

           Rating        Price    Distance
count  501.000000   501.000000  501.000000
mean     3.798403   381.936128    5.905601
std      0.394610   348.623069    3.231083
min      2.400000    50.000000    0.030900
25%      3.600000   150.000000    3.500000
50%      3.600000   225.000000    5.600000
75%      4.000000   500.000000    7.800000
max      4.900000  2100.000000   24.900000

In [63]:

combined_data = pd.concat([agra_data, indore_data, lucknow_data], ignore_index=True)

combined_data.to_csv('combined_dataset.csv', index=False)

In [64]:
df=pd.read_csv("combined_dataset.csv")

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Restaurent name  1503 non-null   object
 1   Cuisine types    1503 non-null   object
 2   Rating           1503 non-null   float64
 3   Price            1503 non-null   float64
 4   Distance         1503 non-null   float64
 5   Location         1503 non-null   object
 6   City             1503 non-null   object
dtypes: float64(3), object(4)
memory usage: 82.3+ KB

In [66]:
df.columns

Index(['Restaurent name', 'Cuisine types', 'Rating', 'Price', 'Distance',
       'Location', 'City'],
      dtype='object')

In [67]:
df.describe()

            Rating        Price     Distance
count  1503.000000  1503.000000  1503.000000
mean      3.813195   392.997339     5.031655
std       0.406587   364.822542     2.776754
min       2.400000    50.000000     0.030900
25%       3.600000   150.000000     3.100000
50%       3.900000   250.000000     4.500000
75%       4.100000   500.000000     6.200000
max       4.900000  3000.000000    25.800000

In [68]:
import random
qualities = [
    "Customizable Dishes", "Hospitality", "Weekend Brunch", "Good Music", "Young Crowd",
    "Ambience", "Peaceful Ambience", "Breakfast", "Courteous Staff", "Cafe",
    "Perfect Place", "Ambiance", "Brewed Beer", "Good Bartenders", "Extensive Mocktail Menu",
    "Variety of Beer", "Vintage Decor", "Live Sports Screening", "Sophisticated", 
    "Main Course", "Great Service", "Staff", "Delicious Food", "Quantity",
    "Great for Dates", "Exquisite Taste", "Fresh Ingredients", "Warm Atmosphere",
    "Attentive Service", "Friendly Staff", "Clean Environment", "Cozy Ambiance",
    "Creative Cuisine", "Memorable Experience", "Inviting Decor", "Seasonal Menu",
    "Sustainable Practices", "Local Sourcing", "Innovative Dishes", "Flavorful Creations",
    "Well-priced Options", "Impeccable Presentation", "Hospitable Staff", "Comfortable Seating",
    "Trendy Setting", "Diverse Menu", "Efficient Service", "Consistent Quality",
    "Authentic Flavors", "Satisfying Portions"
]

df['what_people_like_about_us'] = df.apply(lambda x: ', '.join(random.sample(qualities, 3)), axis=1)

In [69]:
df.head(20)

,Restaurent name,Cuisine types,Rating,Price,Distance,Location,City,what_people_like_about_us
0,Piazza Pizza By Little Italy,Pizza,3.900000,100.0,2.5,"Tajganj, Agra",Agra,"Cozy Ambiance, Courteous Staff, Perfect Place"
1,Marleys The Milkshake,"Beverages, Desserts, Ice Cream, Shake, Burger,...",3.700000,200.0,3.7,"Tajganj, Agra",Agra,"Sophisticated, Flavorful Creations, Cafe"
2,Molecule Air Bar,"North Indian, Chinese, Continental, Italian",4.600000,1000.0,4.8,"Tajganj, Agra",Agra,"Trendy Setting, Flavorful Creations, Live Spor..."
3,The Salt Cafe Kitchen & Bar,"North Indian, Continental, Chinese, Italian, F...",4.900000,900.0,3.8,"Tajganj, Agra",Agra,"Clean Environment, Great Service, Satisfying P..."
4,Palm Burj,"North Indian, Chinese, Continental, Sushi, Sic...",4.500000,1100.0,1.9,"Rakabganj, Agra",Agra,"Clean Environment, Variety of Beer, Perfect Place"
5,Unplugged Courtyard,"Mediterranean, North Indian, Continental, Chin...",4.400000,800.0,4.8,"Tajganj, Agra",Agra,"Consistent Quality, Ambience, Weekend Brunch"
6,Hichkee,"Continental, North Indian, Chinese",4.200000,850.0,1.2,"Civil Lines, Agra",Agra,"Fresh Ingredients, Breakfast, Ambience"
7,The Numberdaars,"Chinese, North Indian, Biryani, Mughlai, Kebab...",4.000000,400.0,6.8,"Sikandra, Agra",Agra,"Flavorful Creations, Diverse Menu, Attentive S..."
8,Barbeque Nation,"North Indian, BBQ, Biryani, Kebab, Continental...",4.400000,775.0,2.5,"Civil Lines, Agra",Agra,"Hospitality, Weekend Brunch, Main Course"
9,The Nawaabs,"Mughlai, North Indian, Biryani, Kebab, Beverages",4.300000,550.0,2.7,"Tajganj, Agra",Agra,"Impeccable Presentation, Cafe, Ambiance"
10,Oasis - Radisson Hotel Agra,"North Indian, Continental, Beverages",4.100000,1350.0,4.1,"Radisson Hotel Agra, Tajganj, Agra",Agra,"Peaceful Ambience, Staff, Main Course"
11,Biryani By Kilo,"Biryani, Hyderabadi, Kebab, North Indian, Ice ...",4.400000,500.0,3.0,"Civil Lines, Agra",Agra,"Trendy Setting, Staff, Cozy Ambiance"
12,Masala Bistro,"Chinese, North Indian, Rolls, Kebab, Fast Food",3.700000,175.0,2.8,"Tajganj, Agra",Agra,"Consistent Quality, Breakfast, Main Course"
13,Cafe G - Holiday Inn,"North Indian, Continental, South Indian, Chine...",4.400000,1500.0,2.6,"Civil Lines, Agra",Agra,"Variety of Beer, Sophisticated, Weekend Brunch"
14,Downtown Cafe,"North Indian, Mughlai, Continental, Chinese, B...",4.900000,800.0,1.4,"Rakabganj, Agra",Agra,"Creative Cuisine, Ambiance, Memorable Experience"
15,Pinch Of Spice,"North Indian, Chinese, Continental, Desserts, ...",4.500000,800.0,3.2,"Tajganj, Agra",Agra,"Hospitality, Comfortable Seating, Consistent Q..."
16,Cosmos Cafe & Bar - Fairfield By Marriott,"Continental, North Indian, South Indian, Mughl...",3.400000,1200.0,2.6,"Civil Lines, Agra",Agra,"Courteous Staff, Breakfast, Vintage Decor"
17,My Bar Headquarters,"North Indian, Chinese, Pizza, Fast Food, Desserts",3.374251,600.0,3.1,"Khandari, Agra",Agra,"Main Course, Comfortable Seating, Exquisite Taste"
18,Peshawri - ITC Mughal,"North Indian, Mughlai",4.500000,3000.0,3.2,"ITC Mughal, Tajganj, Agra",Agra,"Young Crowd, Impeccable Presentation, Hospitality"
19,Pind Balluchi,"North Indian, Mughlai, Chinese, Desserts",3.900000,550.0,3.6,"Tajganj, Agra",Agra,"Ambiance, Vintage Decor, Warm Atmosphere"

In [70]:
df.dtypes

Restaurent name               object
Cuisine types                 object
Rating                       float64
Price                        float64
Distance                     float64
Location                      object
City                          object
what_people_like_about_us     object
dtype: object

In [71]:
df["what_people_like_about_us"]

0           Cozy Ambiance, Courteous Staff, Perfect Place
1                Sophisticated, Flavorful Creations, Cafe
2       Trendy Setting, Flavorful Creations, Live Spor...
3       Clean Environment, Great Service, Satisfying P...
4       Clean Environment, Variety of Beer, Perfect Place
                              ...
1498       Trendy Setting, Ambience, Memorable Experience
1499           Fresh Ingredients, Cozy Ambiance, Ambiance
1500       Satisfying Portions, Variety of Beer, Quantity
1501    Clean Environment, Customizable Dishes, Effici...
1502    Creative Cuisine, Friendly Staff, Consistent Q...
Name: what_people_like_about_us, Length: 1503, dtype: object